/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 div#current-points{
    float:right;
    width:200px;
    padding:20px;
    text-align: center;
    background-color: #ececec;
  }

  .todo-title{font-weight: bold; font-size: 20px; margin-bottom:0px;}

  .todo-title input[type='checkbox']:checked {
    background: #abd;
}


  .todo-title input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    
    border-radius:5px;
    border:2px solid #555;
    margin-top:0px;
}
  .todo-details{font-style: italic;margin-left:20px;}