body{
  font-size: 1.2em;
  padding-top: 60px
}

.sign-in{border-radius: 3px;}

div#action-box{float:left; margin: 5px 0px 5px 0px;}

h1{
  margin-bottom: 10px;
  font-size:36px;
  }

h2 {
  font-weight: 700;
  font-size:28px;
  margin: -5px 0px 15px 0px;
  color: #2c3e50;
  }


.navbar .brand {
  text-shadow: none;
  font-size: 1.5em;
  font-weight: bold;
  }

div#page-header{margin-bottom:20px; }


div#current-points{
    float:right;
    
    border-radius: 6px; 
    padding:20px;
    text-align: center;
    background-color: #ececec;
    font-size: 2em;
    font-weight: bold;
  }

  .todo-title{font-weight: bold; font-size: 20px; margin-bottom:0px;}

  input.fat-checkbox[type='checkbox']:checked {
    background-color: #80b5e9;
}

  input.fat-checkbox[type='checkbox']:disabled {
    background-color: #ececec;
    border:thin solid #ccc;
  }

  input[type='checkbox'].fat-checkbox {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    
    border-radius:5px;
    border:2px solid #5a6269;
    margin-top:0px;
    background-color: #fff
}
  .todo-details{font-style: italic;margin-left:20px;}


label.inline{display:inline-block;}
span.due-today{
  float:left; 
  text-align:center;
  color:#80b5e9; 
  background-color: #fff; 
  border:thin solid #80b5e9;
  padding:4px; 
  border-radius:4px; 
  margin:5px 5px 2px 0px;}


table{
	min-width: 60%; border-radius: 6px; border: thin solid #85919c;
	border-spacing:0;
    border-collapse:collapse;
}

table tr{}
table tr.dark{background-color: #ececec}
table td, table th{padding:10px;}
table th{background-color: #85919c; color:#333; text-align: left}
table td{padding:10px;}
