
@media (max-width: 979px) {
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
		padding: 5px 30px 5px 30px;
	}

	body{padding-top:70px;}
	
}


@media (max-width: 480px) {


	h1{font-size:36px;}
	h2{font-size:26px;}

	button.btn{width:100%;}
	
	div#current-points{
		width:100%;
		}
	
	.login-btn{width:100%;}

	div#action-box > div{width:100%; text-align: center;}

	div.actions{float:left; width:100%;}
	input.action-button{float:right;}

	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
		padding: 5px 30px 5px 30px;
	}

	footer{border-top: thin solid #ccc; padding:10px;}

	div#debug{display:none}
}